.navbar {
  background-color: coral;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* defaultnya row */
}

.kotak {
  height: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.kotak1 {
  height: 50px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: skyblue;
}
